<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>My Microsoft Azure Sandpit</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="description" content="My Item Inventory Home Page"/>
    <meta name="author" content="Dave Collier"/>
    <link rel="stylesheet" type="text/css" href="/webjars/bootstrap/4.5.0/css/bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" href="/webjars/font-awesome/5.13.0/css/fontawesome.min.css" />
    <link rel="stylesheet" type="text/css" th:href="@{/css/homePage.css}" href="css/homePage.css" />
</head>

<body id="home_page_controller">
<header>
    <nav id="home_navbar" class="navbar navbar-expand-sm">
        <div class="container">
            <a style="color: black" href="#" th:text="#{docswebapps.application.name}" class="navbar-brand">Microsoft Azure Sandpit</a>
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" href="#" style="color: black">Home</a>
                </li>
            </ul>
        </div>
    </nav>
</header>

<div class="jumbotron text-left pl-5">
    <div class="container">
        <h1 th:text="#{docswebapps.application.name}" class="display-3"></h1>
        <h4 class="display-5">A place to try out MS Azure development functions</h4>
        <h4 th:text="${message}">You're not using Okta!</h4>
    </div>
</div>

<div id="about-section" class="container">
    <h2>Create a New Container</h2>
    <form id="fcf-form-id" class="fcf-form-class" method="post" action="api/v1/storage/container/create">
        <div class="fcf-form-group">
            <label for="Name" class="fcf-label">New Container Name</label>
            <div class="fcf-input-group">
                <input type="text" id="Name" name="Name" class="fcf-form-control" required>
            </div>
        </div>

        <div class="fcf-form-group">
            <button type="submit" id="fcf-button" class="fcf-btn fcf-btn-primary fcf-btn-lg fcf-btn-block">Send Message</button>
        </div>
    </form>
</div>

<div id='copyright-section'>
    <div>
        &copy;
        <span th:text="${year}">2020</span>
        <span th:text="#{docswebapps.application.name}">Microsoft Azure Sandpit</span>
    </div>
</div>

<script type="text/javascript" src="/webjars/jquery/3.5.1/jquery.min.js"></script>
<script type="text/javascript" src="/webjars/bootstrap/4.5.0/js/bootstrap.js"></script>

</body>
</html>